<div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>

  
  
  <div class="ajout">
        <button class="btn"  (click)="openDialog()">
          Ajouter une filière
        </button>
      </div>
     <br>
 
   <!-- </div> -->
  
   <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste des Filières</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th></th>
                <th>Avatar</th> -->
                <th>Nom</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td ><bUtton class="but">Activer</bUtton></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  