<div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>

<div class="container">

    <div class="ajout">
        <button class="btn" (click)="openDialog()">Ajouter une Unité  </button>
      </div>
          <!-- <label for="typeFiltre">Filtrer par :</label> -->
    <br>
         <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Liste des Unités</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th></th>
                      <th>Avatar</th> -->
                      <!-- <th>Photo</th> -->
                      <th>ID</th>
                      <th>Code</th>
                      <th>Nom</th>
                      <th>DateAjout</th>
                      <th>DateModif</th>
                      <th>Personne</th>
                      <th>Statut</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- <td><img src="../assets/user.png"></td> -->
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <!-- <td>lorem</td> -->
                      <td>lorem</td>
                      <td>Activer</td>
        
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        