
button  {
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--orange, #FE8F4A);
    text-align: center;
    width: 80PX;
    height: 26px;
    
}
.warning-dialog {
    z-index: 9000 !important;
  }



// img{
// width: 40px;
// height: 40px;
// }