
<div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>

<br>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste des utilisateurs</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">Avatar</th> -->
                <th scope="col">Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Type</th>
                <th scope="col">Adresse</th>
                <th scope="col">Telephone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td><button class="pr" (click)="openDialog()">voir profil</button></td>
              </tr>
           
        
         
  