<div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>

<div class="container">

    <div class="ajout">
        <button class="btn" (click)="openDialog()">Ajouter une Zone</button>
      </div>
          <!-- <label for="typeFiltre">Filtrer par :</label> -->
    <br>
         <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Liste des Zones Productions</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th></th>
                      <th>Avatar</th> -->
                      <th>Photo</th>
                      <th>ID</th>
                      <th>Code</th>
                      <th>Nom</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>DateAjout</th>
                      <th>DateModif</th>
                      <th>Personne</th>
                      <th>Statut</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="../assets/user.png"></td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>Activer</td>
        
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        
        
        <!-- {
          "idZoneProduction": "<string>",
          "codeZone": "<string>",
          "nomZoneProduction": "<string>",
          "latitude": "<string>",
          "longitude": "<string>",
          "photoZone": "<string>",
          "dateAjout": "<string>",
          "dateModif": "<string>",
          "personneModif": "<string>",
          "statutZone": "<boolean>",
          "acteur": {
            "idActeur": "<string>",
            "resetToken": "<string>",
            "tokenCreationDate": "<dateTime>",
            "codeActeur": "<string>",
            "nomActeur": "<string>",
            "adresseActeur": "<string>",
            "telephoneActeur": "<string>",
            "whatsAppActeur": "<string>",
            "latitude": "<string>",
            "longitude": "<string>",
            "photoSiegeActeur": "<string>",
            "logoActeur": "<string>",
            "niveau3PaysActeur": "<string>",
            "password": "<string>",
            "dateAjout": "<string>",
            "dateModif": "<string>",
            "personneModif": "<string>",
            "localiteActeur": "<string>",
            "emailActeur": "<string>",
            "filiereActeur": "<string>",
            "statutActeur": "<boolean>",
            "typeActeur": [
              {
                "idTypeActeur": "<string>",
                "libelle": "<string>",
                "codeTypeActeur": "<string>",
                "statutTypeActeur": "<boolean>",
                "descriptionTypeActeur": "<string>",
                "personneModif": "<string>",
                "dateAjout": "<string>",
                "dateModif": "<string>"
              },
              {
                "idTypeActeur": "<string>",
                "libelle": "<string>",
                "codeTypeActeur": "<string>",
                "statutTypeActeur": "<boolean>",
                "descriptionTypeActeur": "<string>",
                "personneModif": "<string>",
                "dateAjout": "<string>",
                "dateModif": "<string>"
              }
            ],
            "maillonActeur": "<string>"
          }
        } -->