<div class="container" style="height: 80px !important; z-index: 100; width: 100%; margin-top: 25px; background-color: rgb(150, 222, 142);">
        <div class="container-fluid" >
    <div class="header-body" >
<br>
      <!-- Card stats -->
    <!-- le nombres totals d'animaux -->
<div class="contenu">
  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Nombres de Boutique</p>
        </div>
        <div class="icon">
        <!-- <i class="fas fa-shopping-bag" style="color:#0c7c17;"></i> -->
        </div>
        <div class="nbre">
         <h2>170</h2>
      </div>
  </div>
  </div>
  <!-- le nombres totals de perte -->
  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Nombres de d'utilisateurs</p>
        </div>
        <div class="icon">
          <!-- <i class="fas fa-user" style="color:#0c7c17 ;"></i> -->
        </div>
        <div class="nbre">
         <h2>200</h2>
      </div>
  </div>
  </div>
  <!-- prix des aliments -->
  <br>
  <br>
  <br>

  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Zone de production</p>
        </div>
        <div class="icon">
        <!-- <i class="fas fa-map-marker-alt" style="color: #0c7c17;"></i> -->
        </div>
        <div class="nbre">
         <h2>20</h2>
      </div>
  </div>
  </div>

  <!-- prix des aliments -->
  <div class="card">
    <div style="margin-left: 6px;">
    <div class="title">
        <p>Zone de production</p>
      </div>
      <div class="icon">
        <!-- <i class="fas fa-map-marker-alt" style="color: #0c7c17;"></i> -->
      </div>
      <div class="nbre">
       <h2>20</h2>
    </div>
</div>
</div>
      
  </div>
    </div>
  </div>
</div>

<div class="containerbas" id="mapid">
  <br>
  <h1 style="font-size: 15px;">Producteurs mieux noter</h1>
<br>
<br>

    <div class="carde">

      
      <div class="icon" style="margin-left: 20px;">
        <i class="fas fa-user" style="color:#0c7c17 ; width: 20px; height: 20px;"></i>
      </div>

      <div class="title">
        <p>Nom</p>
      </div>
      
    
     </div>

 

</div>





