<div class="header bg-white pb-8 pt-5 pt-md-8 text-white" style="height: 10% !important; z-index: 100; margin-top: 10px;">
        <div class="container-fluid" >
    <div class="header-body" >

      <!-- Card stats -->
    <!-- le nombres totals d'animaux -->
<div class="contenu">
  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Nombres de Boutique</p>
        </div>
        <div class="icon">
        <img src="../assets/lapin.png" >
        </div>
        <div class="nbre">
         <h2>170</h2>
      </div>
  </div>
  </div>
  <!-- le nombres totals de perte -->
  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Nombres de d'utilisateurs</p>
        </div>
        <div class="icon">
        <img src="../assets/perte.png" >
        </div>
        <div class="nbre">
         <h2>200</h2>
      </div>
  </div>
  </div>
  <!-- prix des aliments -->
  <div class="card">
      <div style="margin-left: 6px;">
      <div class="title">
          <p>Zone de production</p>
        </div>
        <div class="icon">
        <img src="../assets/aliment.png" >
        </div>
        <div class="nbre">
         <h2>20</h2>
      </div>
  </div>
  </div>

  <!-- prix des aliments -->
  <div class="card">
    <div style="margin-left: 6px;">
    <div class="title">
        <p>Zone de production</p>
      </div>
      <div class="icon">
      <img src="../assets/aliment.png" >
      </div>
      <div class="nbre">
       <h2>20</h2>
    </div>
</div>
</div>
      
  </div>
    </div>
  </div>
</div>

<div class="containerbas" id="mapid">
 <h1>Zone1</h1>

</div>



